<h1>Home page Identity</h1>

<ul>
    <li>
        <a href="./Home/Login">Login</a>
    </li>
    <li>
        <a href="./Home/Register">Register</a>
    </li>
    <li>
        <a href="./Home/Logout">Logout</a>
    </li>
</ul>