<h1>Login page Identity</h1>

<form action="/Home/Login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="userName" value=""/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value=""/>
    <button type="submit">Login</button>
</form>